<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
  <Appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
    </Console>
  </Appenders>
  <Loggers>
    <Logger name="infinity.systems" level="debug" additivity="false">
      <AppenderRef ref="Console"/>
    </Logger>
    <Logger name="infinity.sim" level="debug" additivity="false">
      <AppenderRef ref="Console"/>
    </Logger>
    <Logger name="infinity.client" level="debug" additivity="false">
      <AppenderRef ref="Console"/>
    </Logger>
    <Logger name="com.simsilica.ext.mblock.SphereFactory" level="FATAL"/>
    <Logger name="com.simsilica.ext.mphys.EntityBodyFactory" level="FATAL"/>
    <Logger name="com.simsilica.ext.mphys.BinEntityManager" level="FATAL"/>
    <Logger name="com.simsilica.mworld.net.server.WorldHostedService" level="FATAL"/>
    <Logger name="com.simsilica.mworld.net.client.WorldClientService" level="FATAL"/>
    <Logger name="com.simsilica.mworld.net.client.RemoteWorldData" level="FATAL"/>
    <Logger name="com.simsilica.mblock.geom.ColliderlessMesh" level="FATAL"/>
    <Logger name="com.simsilica.mblock.phys.collision.ColliderFactories" level="FATAL"/>
    <Logger name="com.simsilica.mphys.BinIndex" level="FATAL"/>
    <Logger name="com.simsilica.mphys.Bin" level="FATAL"/>
    <Logger name="com.simsilica.mphys.BinIndex" level="FATAL"/>
    <Logger name="com.simsilica.mphys" level="DEBUG"/>
    <Logger name="com.simsilica.lemur.style" level="DEBUG"/>
    <!--<Logger name="com.simsilica.lemur.input" level="TRACE"/>-->
    <Logger name="com.simsilica.es" level="INFO"/>
    <Logger name="com.simsilica.ethereal" level="INFO"/>
    <Logger name="com.simsilica.sim.common.DecaySystem" level="FATAL"/>
    <Logger name="com.simsilica.ext.mphys" level="DEBUG"/>
    <Logger name="com.simsilica.mblock" level="DEBUG"/>
    <!--<Logger name="com.simsilica.mworld" level="DEBUG"/>-->
    <Logger name="com.simsilica.builderr" level="INFO"/>
    <Logger name="com.simsilica.pager" level="INFO"/>
    <Root level="error">
      <AppenderRef ref="Console"/>
    </Root>
  </Loggers>
</Configuration>